<div class="container main-container">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <div class="view overlay waves-light imgbanner" mdbWavesEffect>
      <mdb-card-img src="./assets/img/carreras/bg_banner_ilt.jpg"></mdb-card-img>
    </div>
    <mdb-card-body cascade="true" class="cardCarrera text-center">
      <mdb-card-title>
        <h4>
          <strong>Ingeniería en Logística y Transporte</strong>
        </h4>
      </mdb-card-title>

      <h4 class="text-left">Perfil de egreso</h4>

      <mdb-card-text class="text-justify">
        Como Ingeniero/a en Logística y Transporte egresado de la Universidad Politécnica de Pénjamo, será capaz de
        dirigir los procesos de mejora continua, aprovechando su amplia visión global de la ingeniería, con un
        conocimiento profundo de lo que se tiene que hacer para optimizar los procesos logísticos, contribuyendo al
        desarrollo local, regional y nacional, y tomando en cuenta el entorno productivo y el cuidado al medio
        ambiente, con las habilidades y competencias necesarias para encontrar la mejor alternativa de solución
        posible, que mejore el desempeño de un proceso en la industria de los servicios; con el apoyo de programas y
        herramientas de simulación y tecnologías de punta.
      </mdb-card-text>

      <ul class="list-group text-left">
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Inquietud por la investigación, el desarrollo tecnológico y la innovación.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Habilidad para desarrollar trabajo en equipo, creatividad y actitud para el cambio.
        </li>
        <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Vocación profesional por la industria y sus procesos productivos.
        </li>
      </ul>

      <a class="btn-primary btn-rounded mt-3 btn btn-sm" href="d/escolares/mapa_curricular/mapa-curricular-ilt.pdf"
        mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Mapa curricular</strong>
      </a>
      <a class="btn-danger btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-ILT.pdf" mdbbtn=""
        mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Horario de clases</strong>
      </a>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Perfil de ingreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        El aspirante a la carrera de Ingeniería en Logística y Transporte, deberá dominar conceptos básicos de
        matemáticas superiores, física y computación, poseer una actitud de observación para investigar el cómo y
        el porqué de los fenómenos físicos, inquietud por la investigación, el desarrollo tecnológico, la
        innovación y la actualización continua, habilidad para desarrollar trabajo en equipo, creatividad y actitud
        para el cambio, así como una vocación profesional por la industria y sus procesos de distribución.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Campo laboral</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Realizando funciones gerenciales y de dirección de empresas de transporte de carga para el manejo y
        distribución de mercancías.
        <ul class="list-group text-left">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Seleccionando estratégicamente las rutas más adecuadas para el traslado de las mercancías mediante
            modelos logísticos. </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Optimizando las actividades logísticas de la empresa a través del análisis de costos, desarrollo de
            proveedores y administrando inventarios desde el punto de origen al punto destino.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Apoyando en el análisis y la toma de decisiones en materia logística y transporte.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Supervisando los trámites aduaneros.
          </li>
        </ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>