<div class="row mt-3">
  <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
    <mdb-card>
      <div class="view view-cascade overlay view-card-thumb zoom" mdbWavesEffect>
        <mdb-card-img src="./assets/img/carreras/thumb_ilt.jpg"></mdb-card-img>
      </div>
      <mdb-card-body class="text-center">
        <mdb-card-title>
          <h6>Ingeniería en Logística y Transporte</h6>
        </mdb-card-title>
        <a [routerLink]="['']" mdbBtn class="default-color btn-rounded btn btn-sm" mdbWavesEffect>Consultar</a>
      </mdb-card-body>
    </mdb-card>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
    <mdb-card>
      <div class="view view-cascade overlay view-card-thumb zoom" mdbWavesEffect>
        <mdb-card-img src="./assets/img/carreras/thumb_isw.jpg"></mdb-card-img>
      </div>
      <mdb-card-body class="text-center">
        <mdb-card-title>
          <h6>Ingeniería en Software</h6>
        </mdb-card-title>
        <a [routerLink]="['']" mdbBtn class="default-color btn-rounded btn btn-sm" mdbWavesEffect>Consultar</a>
      </mdb-card-body>
    </mdb-card>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
    <mdb-card>
      <div class="view view-cascade overlay view-card-thumb zoom" mdbWavesEffect>
        <mdb-card-img src="./assets/img/carreras/thumb_ibt.jpg"></mdb-card-img>
      </div>
      <mdb-card-body class="text-center">
        <mdb-card-title>
          <h6>Ingeniería en Biotecnología</h6>
        </mdb-card-title>
        <a [routerLink]="['']" mdbBtn class="default-color btn-rounded btn btn-sm" mdbWavesEffect>Consultar</a>
      </mdb-card-body>
    </mdb-card>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
    <mdb-card>
      <div class="view view-cascade overlay view-card-thumb zoom" mdbWavesEffect>
        <mdb-card-img src="./assets/img/carreras/thumb_lag.jpg"></mdb-card-img>
      </div>
      <mdb-card-body class="text-center">
        <mdb-card-title>
          <h6>Licenciatura en Administración y Gestión Empresarial</h6>
        </mdb-card-title>
        <a [routerLink]="['']" mdbBtn class="default-color btn-rounded btn btn-sm" style="margin: 0.175rem !important" mdbWavesEffect>Consultar</a>
      </mdb-card-body>
    </mdb-card>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
    <mdb-card>
      <div class="view view-cascade overlay view-card-thumb zoom" mdbWavesEffect>
        <mdb-card-img src="./assets/img/carreras/thumb_iag.jpg"></mdb-card-img>
      </div>
      <mdb-card-body class="text-center">
        <mdb-card-title>
          <h6>Ingeniería Agroindustrial</h6>
        </mdb-card-title>
        <a [routerLink]="['']" mdbBtn class="default-color btn-rounded btn btn-sm" mdbWavesEffect>Consultar</a>
      </mdb-card-body>
    </mdb-card>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-6 mt-1">
    <mdb-card>
      <div class="view view-cascade overlay view-card-thumb zoom" mdbWavesEffect>
        <mdb-card-img src="./assets/img/carreras/thumb_ind.jpg"></mdb-card-img>
      </div>
      <mdb-card-body class="text-center">
        <mdb-card-title>
          <h6>Ingeniería Industrial</h6>
        </mdb-card-title>
        <a [routerLink]="['']" mdbBtn class="default-color btn-rounded btn btn-sm" mdbWavesEffect>Consultar</a>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>