<div class="container main-container">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <div class="view overlay waves-light imgbanner" mdbWavesEffect>
      <mdb-card-img src="./assets/img/carreras/bg_banner_ime.jpg"></mdb-card-img>
    </div>
    <mdb-card-body cascade="true" class="cardCarrera text-center">
      <mdb-card-title>
        <h4>
          <strong>Ingeniería Mecatrónica</strong>
        </h4>
      </mdb-card-title>

      <h4 class="text-left">Perfil de Ingreso del aspirante.</h4>

      <mdb-card-text class="text-justify">
        El aspirante a ingresar al programa de Ing. Mecatrónica, debe tener las siguientes habilidades y actitudes:
      </mdb-card-text>

      <ul class="list-group text-left">
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Capacidad de análisis, abstracción, creatividad y actitud para el cambio
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Actitud de observación para investigar el cómo y el porqué de los fenómenos físicos.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Conocimientos fundamentales de matemáticas superiores, física, química y computación.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Gusto por la investigación y el desarrollo tecnológico.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Interés por la mecánica, la electrónica y la computación, así como por el manejo de un segundo idioma.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Dedicación de tiempo completo para el estudio, así como disponibilidad de horario.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Responsable de su aprendizaje.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Habilidad para desarrollar trabajo en equipo.
        </li>
      </ul>

      <a class="btn-primary btn-rounded mt-3 btn btn-sm" href="d/escolares/mapa_curricular/mapa-curricular-ime.pdf"
        mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Mapa curricular</strong>
      </a>
      <!-- <a class="btn-danger btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-IND.pdf" mdbbtn=""
        mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Horario de clases</strong>
      </a> -->

    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Perfil de egreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        El Ingeniero Mecatrónico es un profesionista capaz de formular soluciones de diseño, desarrollo, mantenimiento e
        implantación de sistemas, productos y procesos mecatrónicos, mediante la integración de elementos mecánicos,
        electrónicos y de control, que permitan la automatización de equipos y procesos, el control de sistemas
        flexibles de manufactura y el desarrollo de nuevos dispositivos con el fin de innovar, mejorar e impulsar
        tecnológicamente a las empresas locales, nacionales e internacionales.
      </mdb-card-text>
      <mdb-card-text class="text-justify">
        El Ingeniero Mecatrónico proporciona conocimientos para el desarrollo y mejora de procesos automatizados. En la
        fabricación, el ingeniero mecatrónico puede observar una línea de ensamblaje y determinar cómo se puede hacer
        más eficiente. Luego, analiza los costos y así puede decidir qué tan rentable puede ser una empresa. El
        Ingeniero Mecatrónico además diseña, desarrolla y da soluciones a problemas de procesos.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Competencias y habilidades</h4>
      </mdb-card-title>

      <ul class="list-group text-left">
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Ejecutar el plan de mantenimiento para incrementar la eficiencia de los equipos en los procesos de producción
          y
          reducir los costos de operación, mediante la aplicación de procedimientos y criterios de mantenimiento.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Construir circuitos electrónicos para su integración en sistemas mecatrónicos mediante la interconexión de
          elementos y dispositivos electrónicos.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Diseñar elementos mecánicos y electrónicos para su manufactura mediante herramientas computacionales de
          diseño.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Manufacturar elementos mecánicos para su integración en sistemas mecatrónicos mediante Máquinas-Herramientas.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Implementar elementos mecatrónicos para la automatización de sistemas o procesos con base al resultado del
          diagnóstico del funcionamiento del sistema o proceso.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Determinar la propuesta tecnológica para la solución de problemas específicos en los diferentes sectores de la
          sociedad, mediante el análisis e integración de los sistemas mecatrónicos.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Determinar la configuración de robots para su operación en sistemas de producción con el uso de modelos
          matemáticos y su simulación.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Incorporar robots para hacer eficientes los procesos, mediante su instalación y programación acorde a las
          necesidades de producción.
        </li>
      </ul>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Campo laboral</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Los egresados tendrán competencias para laborar en:
      </mdb-card-text>
      <mdb-card-text class="text-justify">
        Ámbitos relacionados con la mecánica de precisión, los sistemas de control electrónicos y los sistemas de
        información computarizados, tanto en el sector público como en el privado, de producción y de servicios;
        diseñando, controlando e implantando dichos sistemas.
      </mdb-card-text>
      <mdb-card-text class="text-justify">En el sector industrial, de procesos, de manufactura, y automotriz.
        En el sector de servicios y consultoría en empresas, en centros de investigación y en instituciones de educación
        superior.
      </mdb-card-text>
      <mdb-card-text class="text-justify">
        Su campo de trabajo actual y potencial es muy amplio, ya que va desde la automatización de operaciones en
        microempresas hasta la completa automatización y control de líneas de producción, desde el diseño de productos
        sencillos de uso cotidiano hasta el diseño de sofisticados equipos con tecnología de punta.
      </mdb-card-text>
      <ul class="list-group text-left">
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          En cualquier área relacionada con la industria metal-mecánica, de maquinaria pesada, equipo agroindustrial y
          el sector público.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          En investigación y diseño del producto, desarrollo de sistemas de automatización.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          En asesoría, servicio técnico especializado, mantenimiento y fabricación de piezas.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          En generación, administración y control de planes de mantenimiento.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Desarrollar nuevos conceptos electro-mecánicos para nuevas líneas de productos.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Integrar sistemas eléctricos y mecánicos para mejorar los sistemas de fabricación.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Crear y diseñar software y procedimientos para el control de equipo de laboratorio automatizado.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Mejorar equipo de laboratorio y procesos con científicos de la empresa.
        </li>
      </ul>
    </mdb-card-body>
  </mdb-card>
</div>