<div class="container main-container">
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <div class="view view-cascade portada-paginas gradient-card-header color-gradient-laboratorios white-text">
      <h2 class="card-header-title text-center mb-3">Laboratorios</h2>
      <p class="mb-0 text-center">Universidad Politécnica de Pénjamo</p>
    </div>
    <mdb-card-body cascade="true">
      <mdb-card-text class="text-justify">
        Registro de material de uso de laboratorios.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">
          Ingeniería en Biotecnología
        </h4>
      </mdb-card-title>
      <mdb-card-text>
        <ul class="list-group text-left"><a href="https://docs.google.com/a/uppenjamo.edu.mx/spreadsheet/ccc?key=0ArUBvukVICFMdFhXSFQ3SnhoYi1CY2ZLVDVpMVNiX2c&amp;usp=sharing" rel="noopener noreferrer" target="_blank"><li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Abrir solicitud de materiales o equipo de laboratorio </li></a></ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
      <mdb-card-body cascade="true">
        <mdb-card-title>
          <h4 class="text-left">
            Ingeniería Agroindustrial
          </h4>
        </mdb-card-title>
        <mdb-card-text>
          <ul class="list-group text-left"><a href="https://docs.google.com/a/uppenjamo.edu.mx/spreadsheet/ccc?key=0AvO4lzKOn5YTdDBvOGxzWkl0V1Z6bm5YYWZjOHRjc1E&amp;usp=sharing" rel="noopener noreferrer" target="_blank"><li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Abrir solicitud de materiales o equipo de laboratorio </li></a></ul>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
</div>