<div class="container main-container">
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <div class="view view-cascade portada-paginas gradient-card-header color-gradient-normateca white-text">
      <h2 class="card-header-title text-center mb-3">Requisitos para inscripción</h2>
      <p class="mb-0 text-center">Universidad Politécnica de Pénjamo</p>
    </div>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Requisitos:</h4>
      </mdb-card-title>
      <ul class="list-group text-left">
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
          1. Haber sido admitido. </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
          2. Acta de nacimiento reciente (original y dos copias. No acta deteriorada o con la leyenda "menor de edad"). 
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
          3. Certificado de bachillerato legalizado en caso de requerirlo, o constancia de estudios que acredite el no adeudo de materias y certificado en trámite (original y dos copias). 
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
          4. Estudio de tipo sanguíneo expedido por Cruz Roja, IMSS, ISSSTE o laboratorio particular (original y copia). 
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
          5. Copia de la CURP.
       <li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
          6. Copia de comprobante de domicilio reciente (agua, luz o teléfono). 
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
          7. Recibo de pago de inscripción (original y copia). 
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
          8. 2 fotografías tamaño infantil en blanco y negro. 
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
          9. Número de seguridad social. 
        </li>
      </ul>
    </mdb-card-body>
  </mdb-card>

</div>