<div class="container main-container">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <div class="view overlay waves-light imgbanner" mdbWavesEffect>
      <mdb-card-img src="./assets/img/carreras/bg_banner_lag.jpg"></mdb-card-img>
    </div>
    <mdb-card-body cascade="true" class="cardCarrera text-center">
      <mdb-card-title>
        <h4>
          <strong>Licenciatura en Administración y Gestión Empresarial</strong>
        </h4>
      </mdb-card-title>

      <h4 class="text-left">Objetivo</h4>

      <mdb-card-text class="text-justify">
        Formar profesionistas con capacidades gerenciales altamente competitivos que respondan a los desafíos a los que
        se enfrentan las organizaciones en ambientes de incertidumbre, dirigiendo eficazmente sus recursos y funciones,
        a través de una visión vanguardista para diseñar, evaluar y aplicar estrategias que permitan innovar o mejorar
        procesos en las organizaciones en un marco de sustentabilidad.
      </mdb-card-text>

      <a class="btn-primary btn-rounded mt-3 btn btn-sm" href="d/escolares/mapa_curricular/mapa-curricular-lag.pdf"
        mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Mapa curricular</strong>
      </a>
      <a class="btn-danger btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-LAG.pdf" mdbbtn=""
        mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Horario de clases</strong>
      </a>

    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Misión</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Somos un programa académico que contribuye a la formación integral de personas responsables y comprometidas con
        el entorno; que tengan las competencias profesionales de administrar organizaciones y emprender; con sentido
        crítico, innovador y de investigación, que respondan a las exigencias sociales, tecnológicas y globales.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Visión</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Ser un programa académico con presencia nacional e internacional, reconocido a nivel regional y estatal, por la
        excelencia, competitividad y trascendencia de sus alumnos, egresados y profesores; que sean altamente
        competitivos y visionarios en los campos de la administración.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Valores</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        <ul class="list-group text-left">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            <strong>Responsabilidad:</strong> es la capacidad de cumplir con las acciones y compromisos que adquirimos
            dentro y fuera de la institución
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            <strong>Superación:</strong> perfeccionarnos en todos los aspectos de la vida, venciendo los obstáculos de
            manera que podamos crecer como personas para nuestro beneficio y el de la sociedad.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            <strong>Lealtad: </strong> actuar en todo momento bajo los principios adquiridos en nuestra institución y
            con la sociedad. </li>
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i>
            <strong>Compañerismo:</strong> el buen trato, sana convivencia y cooperación entre los que integramos la
            licenciatura en administración y gestión de pymes.
          </li>
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i>
            <strong>Honestidad:</strong> ser congruentes entre lo que pensamos y lo que hacemos siempre anteponiendo la
            verdad en nuestras acciones.
          </li>
        </ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Perfil de egreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Como Licenciado en Administración y Gestión de Pequeñas y Medianas Empresas egresado de la Universidad
        Politécnica de Pénjamo, serás capaz de integrarte al sector público y privado del país como jefe de
        departamento, coordinador, ehjecutivo o gerente de organizaciones en las áreas de administración,
        mercadotecnia, comercio exterior, recursos humanos y finanzas, así como consultor independiente, emprendedor y
        dueño de su propia empresa.
      </mdb-card-text>
      <mdb-card-title>
        <h4 class="text-left">Perfil de ingreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        El aspirante a la Licenciatura en Administración y Gestión de Pequeñas y Medianas Empresas deberá poseer
        habilidades matemáticas y razonamiento lógico para la toma de decisiones, conocimientos administrativos y
        contables (deseables pero no indispensables), capacidad organizativa, responsabilidad, actitud favorable,
        facilidad de palabra, liderazgo, capacidad emprendedora, interés y gusto por el estudio de las ciencias
        sociales y administrativas así como fometar las relaciones interpersonales.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Campo laboral</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Un Licenciado en Administración y Gestión de Pequeñas y Medianas Empresas egresado de la Universidad
        Politécnica de Pénjamo, tendrá habilidades y competencias profesionales para desempeñarse en:
        <ul class="list-group text-left">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Asesoría y desarrollo empresarial.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Recursos humanos.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Producción.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Sistema de calidad.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Contabilidad.
          </li>
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Evaluación financiera.
          </li>
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Consultoria.
          </li>
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Comercio exterior.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Mercadotecnia y ventas.
          </li>
        </ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

</div>