<div class="container main-container">
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <div class="view view-cascade portada-paginas gradient-card-header color-gradient-normateca white-text">
      <h2 class="card-header-title text-center mb-3">Normateca</h2>
      <p class="mb-0 text-center">Universidad Politécnica de Pénjamo</p>
    </div>
    <mdb-card-body cascade="true">
      <mdb-card-text class="text-justify">
        Los reglamentos y políticas institucionales son documentos aprobados, con el ánimo de asignar deberes y
        derechos a los miembros de la comunidad y de regular algunas actividades propias del funcionamiento de la
        Universidad.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">DECRETOS</h4>
      </mdb-card-title>
      <mdb-card-text>
        <ul class="list-group text-left"><a href="d/normateca/decretos/DECRETO DE CREACION UPPE.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Decreto de
              creación UPPE </li>
          </a><a href="d/normateca/decretos/DECRETO REFORMA AL DE CREACION UPPE.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Decreto reforma
              al de creación UPPE </li>
          </a><a href="d/normateca/decretos/DECRETO DE ADICION AL DE CREACION UPPE.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Decreto de
              adición al de creación UPPE </li>
          </a><a href="d/normateca/decretos/DECRETO REFORMA  Y DEROGA Al DE CREACION UPPE.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Decreto, reforma
              y deroga al de creación UPPE </li>
          </a><a href="d/normateca/decretos/PO_167_Decreto 171_Adecuacion Decretos IES.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Decreto 171
              Adecuación Decretos IES </li>
          </a></ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">REGLAMENTOS</h4>
      </mdb-card-title>
      <mdb-card-text>
        <ul class="list-group text-left">
          <a href="d/normateca/reglamentos/REGLAMENTO DE ESTUDIOS UPPE.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
              Reglamento de estudios UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO ESTUDIOS POSGRADO.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
              Reglamento estudios postgrado 
            </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO GENERAL DE ALUMNOS UPPE.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
              Reglamento general de alumnos UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO INTERIOR UPPE.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
              Reglamento interior UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO DEL SERVICIO BIBLIOT. UPPE 21 NOVIEMBRE.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
              Reglamento del Servicio Bibliotecario UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/RIPPPA UPPE.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            RIPPPA UPPE 
          </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO PARA USO DE LABORATORIOS UPPE.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
              Reglamento para uso de laboratorios UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO DEL CENTRO DE COMPUTO UPPE.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
              Reglamento del centro de cómputo UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO  DEL CONSEJO DIRECTIVO UPPE.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
              Reglamento del consejo directivo UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO PROGRAMA ESTIMULO EXCELENCIA UPPE.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"> </i> 
              Reglamento Programa Estimulo Excelencia UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/Reglamento Interior de Trabajo.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"> </i> 
              Reglamento Interior de Trabajo 
            </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO DE INGRESOS PROPIOS DE LA UPPE.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
              Reglamento de Ingresos Propios de la UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/Reglamento de la Academia de Idiomas de la UPPE.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"> </i> 
            Reglamento de la Academia de Idiomas de la UPPE 
            </li>
          </a>
          <a href="d/normateca/reglamentos/REGLAMENTO DEL FONDO DE CONTINGENCIAS DE LA UNIVERSIDAD POLITÉCNICA DE PÉNJAMO.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            Reglamento del fondo de contingencias de la Universidad Politécnica de Pénjamo 
            </li>
          </a>
        </ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">MANUALES</h4>
      </mdb-card-title>
      <ul class="list-group text-left">
        <a href="d/normateca/manuales/MANUAL GENERAL DE ORGANIZACION UPPE.pdf" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Manual General de
            Organización UPPE </li>
        </a></ul>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">LINEAMIENTOS</h4>
      </mdb-card-title>
      <ul class="list-group text-left">
        <a href="d/normateca/lineamientos/Lineamientos uso del estacionamiento I.jpg"
          rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Lineamientos uso
            del estacionamiento I </li>
        </a><a href="d/normateca/lineamientos/Lineamientos uso del estacionamiento II.jpg" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Lineamientos uso
            del estacionamiento II </li>
        </a>
        <a href="d/normateca/lineamientos/Lineamientos Constitucion y Operacion del Comite  Igualdad Laboral Y No descriminacion.pdf"
          rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Lineamientos
            Constitución y Operación del Comite Igualdad Laboral Y No descriminación </li>
        </a>
        <a href="d/normateca/lineamientos/Lineamientos Constitucion y Operaciones de Cuerpos Academicos y Academias.pdf"
          rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Lineamientos
            Constitución y Operaciones de Cuerpos Académicos y Academias </li>
        </a></ul>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">POLÍTICAS</h4>
      </mdb-card-title>
      <ul class="list-group text-left">
        <a href="d/normateca/politicas/POLITICAS DE VISITAS INDUSTRIALES O ASISTENCIA A EVENTOS DE ALUMNOS DE LA UPPE.pdf"
          rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Políticas de
            visitas industriales o asistencia a eventos de alumnos de la UPPE </li>
        </a>
        <a href="d/normateca/politicas/Politicas de Asistencia y Puntualidad de la UPPE.pdf" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Políticas de
            Asistencia y Puntualidad de la UPPE </li>
        </a>
        <a href="d/normateca/politicas/Politicas para la Atencion de Quejas y Sugerencias UPPE.pdf" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Políticas para la
            Atencion de Quejas y Sugerencias UPPE </li>
        </a></ul>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">REFORMAS</h4>
      </mdb-card-title>
      <ul class="list-group text-left">
        <a href="d/normateca/reformas/Reforma Reglamento General de Alumnos UPPE.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            Reforma Reglamento General de Alumnos UPPE 
          </li>
        </a>
        <a href="d/normateca/reformas/Reforma Reglamento Interior UPPE.jpg" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            Reforma Reglamento Interior de Trabajo UPPE 
          </li>
        </a>
        <a href="d/normateca/reformas/Reforma Reglamento Interior UPPE I.jpg" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            Reforma Reglamento Interior de Trabajo UPPE I 
          </li>
        </a>
      </ul>
    </mdb-card-body>
  </mdb-card>


</div>