<div class="container main-container">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <div class="view overlay waves-light imgbanner" mdbWavesEffect>
      <mdb-card-img src="./assets/img/carreras/bg_banner_iag.jpg"></mdb-card-img>
    </div>
    <mdb-card-body cascade="true" class="cardCarrera text-center">
      <mdb-card-title>
        <h4>
          <strong>Ingeniería Agroindustrial</strong>
        </h4>
      </mdb-card-title>

      <h4 class="text-left">Objetivo</h4>

      <mdb-card-text class="text-justify">
        Formar profesionales de la Ingeniería con una visión integral pertinente a los requerimientos de la
        Agroindustria, centrados en normas de competencia profesional que le permitan enfrentar, adaptar, integrar y
        solucionar las diversas situaciones y cambios del contexto agropecuario y de los alimentos.
      </mdb-card-text>

      <a class="btn-primary btn-rounded mt-3 btn btn-sm" href="d/escolares/mapa_curricular/mapa-curricular-iag.pdf"
        mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Mapa curricular</strong>
      </a>
      <a class="btn-danger btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-IAG.pdf" mdbbtn=""
        mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Horario de clases</strong>
      </a>
      <a class="btn-secondary btn-rounded mt-3 btn btn-sm" href="d/academica/ciees/IAG CG-2017-1585 REC.pdf" mdbbtn=""
        mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Reconocimiento CIEES</strong>
      </a>

    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Misión</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Somos un programa académico dedicado a formar ingenieros agroindustriales íntegros y competentes para crear,
        investigar, innovar y administrar con calidad, procesos y empresas agroindustriales, a través de una sólida
        formación tecnológica y humanista que impulse el desarrollo económico y social de la región.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Visión</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Ser un programa académico con presencia nacional e internacional reconocido por la calidad, competitividad,
        ética profesional y contribución al desarrollo sustentable de la agroindustria de sus alumnos, egresados y
        profesores, mediante la innovación, investigación y aplicación del conocimiento.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Perfil de egreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        <P>
          Como Ingeriero Agroindustrial egresado de la Universidad Politécnica de Pénjamo tiene la capacidad de
          vincular la cadena producción-consumo debido a que selecciona y/o adapta la tecnología más adecuada para la
          conservación de materias primas y productos terminados, otorgandándose un valor agregado; formula y evalúa
          proyectos agroindustriales que optimicen los recursos alimentarios y no alimentarios; está preprado para
          generar su propia empresa, además de participar en las actividades de comercialización y distribución de
          productos agropecuarios y agroindustriales. Por lo que cuenta con los conocimientos, habilidades, actitudes y
          valores necesarios para desarrollarse.
        </P>
        <P>
          Son capaces de aplicar, mantener, evaluar y seleccionar los procesos de transformación, producción de
          materias primas e insumos para convertirlos en productos terminados, aplicando herramientas y equipo que
          beneficien al sector productivo.
        </P>
      </mdb-card-text>
      <mdb-card-title>
        <h4 class="text-left">Perfil de ingreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        El aspirante a la carrera de Ingeniería Agroindustrial deberá contar con habilidades y conocimientos bien
        establecidos en los siguientes asperctos:
        <ul class="list-group text-left">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Conocimientos básicos en las áreas de Química, Física, Matemáticas y Biología.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Bachillerato terminado.
          </li>
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Capacidad de observación, análisis e integración de los conocimientos para realizar proyectos de
            investigación, productivos y de emprendedurismo.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Habilidad para el manejo de equipos de laboratorio.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Capacidad de trabajo individual y en equipo.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Interés por el mejoramiento socio-cultural y económico.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Inestigación de mercados.
          </li>
        </ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Campo laboral</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Un Ingeniero Agroindustrial egresado de la Universidad Politénica de Pénjamo aplica sus conocimientos en la
        industria, dependencias gubernamentales (SAGARPA, CEAG, entre otras), organismos públicos, áreas de
        investigación docencia y puede desempeñarse en el sector productivo y/o empresas tales como: Vinícolas,
        lácteos, cerveceras, cárnicos, frutas, hortalizas, cereales y oleaginosa, así como en la agricultura protegida
        (invernaderos) de igual manera en la creación de su propia empresa.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

</div>