<div class="container main-container">
    <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
      <div class="view overlay waves-light imgbanner" mdbWavesEffect>
        <mdb-card-img src="./assets/img/carreras/bg_banner_isw.jpg"></mdb-card-img>
      </div>
      <mdb-card-body cascade="true" class="cardCarrera text-center">
        <mdb-card-title>
          <h4>
            <strong>Ingeniería en Software</strong>
          </h4>
        </mdb-card-title>
  
        <h4 class="text-left">Perfil de egreso</h4>
  
        <mdb-card-text class="text-justify">
            Como Ingeniero en Software egresado de la Universidad Politécnica de Pénjamo será capaz de:
        </mdb-card-text>
  
        <ul class="list-group text-left">
          <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
          Diseñar y desarrollar software de calidad general o especifico. 
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
          Diseñar y crear bases de datos y apliaciones para su manipulación. 
        </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
            Gestionar, administrar e implantar proyectos de innovación de área de softwre. 
          </li>
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
              Desarrollar aplicaciones informáticas para computadoras y dispositivos móviles. 
            </li>
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
              Proporcionar soporte técnico y estratégico a la infraestructura de tecnologías de información. 
            </li>
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
          Integrar nuevas soluciones de software a servicios modernos como el internet inálambrico y el comercio electrónico. 
        </li>
          <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
          Investigar en el campo del desarrollo y reingeniería de las tecnologías de la información. 
        </li>
        </ul>
  
        <a class="btn-primary btn-rounded mt-3 btn btn-sm" href="d/escolares/mapa_curricular/mapa-curricular-isw.pdf"
          mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
          <strong>Mapa curricular</strong>
        </a>
        <a class="btn-danger btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-ISW.pdf" mdbbtn=""
          mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
          <strong>Horario de clases</strong>
        </a>

      </mdb-card-body>
    </mdb-card>
  
    <mdb-card cascade="true" narrower="true" class="mb-2">
      <mdb-card-body cascade="true">
        <mdb-card-title>
          <h4 class="text-left">Perfil de ingreso</h4>
        </mdb-card-title>
        <mdb-card-text class="text-justify">
          El aspirante de la carrera de Ingeniería en Software deberá cumplir con:

          <ul class="list-group text-left">
            <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
            Bachillerato terminado en cualquiera de sus modalidades (General, Técnico ó Propedéutico en Ciencias Físico-Matemáticas). 
          </li>
            <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
            Conocimientos básicos sobre computación, álgebra y cálculo diferencial e integral (deseables). 
          </li>
            <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i> 
            Además de distinguirse por su inclinación a la creatividad e innovación y predisposición para aprendizaje. 
          </li>
        </ul>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  
    <mdb-card cascade="true" narrower="true" class="mb-2">
      <mdb-card-body cascade="true">
        <mdb-card-title>
          <h4 class="text-left">Campo laboral</h4>
        </mdb-card-title>
        <mdb-card-text class="text-justify">
           <p>Un Ingeniero en Software egresado de la Universidad Politécnica de Pénjamo podrá desarrollarse en empresas donde se requiera el desarrollo e implementación de Proyectos de Software a gran escala; Consultoría, Auditoría y Peritaje; Investigación aplicada; Gestión de proyectos de software; Soporte técnico y estratégico a la infraestructura de tecnologías de información; Sistemas de software; Innovación y desarrollo tecnológico y reingeniería de procesos.</p> 
          <p>Además podra desarrollarse en empresas generales, instituciones y organizaciones públicas y privadas de los sectores industrial, comercial y de servicios, o incluso trabajar por su cuenta como consultor de servicios informáticos y desarrollo de sistemas.</p>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>