<div class="container main-container">
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <div class="view view-cascade portada-paginas gradient-card-header color-gradient-financieros white-text">
      <h2 class="card-header-title text-center mb-3">Portal de Transparencia</h2>
      <p class="mb-0 text-center">Universidad Politécnica de Pénjamo</p>
    </div>
    <mdb-card-body cascade="true">
      <mdb-card-text class="text-justify">
        El propósito de este sitio es poner a disposición del público la información generada en la Universidad
        Politécnica de Pénjamo referente a los movimientos financieros con el fin de crear una cultura de
        transparencia.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">UNIDAD DE ACCESO A LA INFORMACIÓN PÚBLICA</h4>
      </mdb-card-title>
      <mdb-card-text>
        <ul class="list-group text-left"><a href="https://transparencia.guanajuato.gob.mx/" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Visitar sitio
              web </li>
          </a></ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">ESTADOS FINANCIEROS</h4>
      </mdb-card-title>
      <mdb-card-text>
        <ul class="list-group text-left">
          <a href="d/financieros/estadosfinancieros/Estados Financieros 2012.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 31 de Diciembre 2012 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/Estados Financieros 2013.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 31 de Marzo 2013 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/Trimestre Abril Junio 2013 Publicados.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 30 de Junio 2013 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/3er Trimestre Publicados.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 30 de Septiembre 2013 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/31 de Diciembre 2013.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 31 de Diciembre 2013 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/1er Trimestre 2014.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 31 de Marzo del 2014 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/Estados Financieros 2do Trimestre.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 31 de Junio 2014 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/Estados Financieros 30 Septiembre 2014.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 30 de Septiembre de 2014 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/Estados Financieros al 31 de Diciembre 2014.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 31 de Diciembre de 2014 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/Estados Financieros al 31 de Marzo 2015.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 31 de Marzo 2015 </li>
          </a>
          <a href="d/financieros/estadosfinancieros/Estados Financieros al 30 de Septiembre 2015.pdf" rel="noopener noreferrer"
            target="_blank">
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Estados Financieros al 30 de Septiembre 2015 </li>
          </a></ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">PRODEP</h4>
      </mdb-card-title>
      <ul class="list-group text-left"><a href="d/financieros/profocie/PROFOCIE 2014.pdf" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Recurso 2014 </li>
        </a><a href="d/financieros/profocie/PROFOCIE 2015.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Recurso 2015 </li>
        </a></ul>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
          <h4 class="text-left">INFORMES PROFOCIE 2014</h4>
      </mdb-card-title>
      <ul class="list-group text-left"><a href="d/financieros/profocie/profocie2014/1 INFORME PROFOCIE (f).pdf" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 1er. Informe </li>
        </a><a href="d/financieros/profocie/profocie2014/2do_inf_acad_PROFOCIE_2014.pdf" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 2do. Informe </li>
        </a><a href="d/financieros/profocie/profocie2014/3o informe PROFOCIE_2014.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 3er. Informe </li>
        </a><a href="d/financieros/profocie/profocie2014/4to informe PROFOCIE ultimo.pdf" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 4to. Informe </li>
        </a></ul>
    </mdb-card-body>
  </mdb-card>

</div>