<div class="container main-container">
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <div class="view view-cascade portada-paginas gradient-card-header color-gradient-igualdadlaboral  white-text">
      <h2 class="card-header-title text-center mb-3">
        Norma Mexicana NMX-R-025-5CFI-2015 en Igualdad Laboral y No
        Discriminación
      </h2>
      <p class="mb-0 text-center">Universidad Politécnica de Pénjamo</p>
    </div>
    <mdb-card-body cascade="true">
      <p class="card-text text-justify">
        La Norma Mexicana NMX-R-025-SCFI-2015 en Igualdad Laboral y No
        Discriminación es un mecanismo de adopción voluntaria para reconocer a
        los centros de trabajo que cuentan con prácticas en materia de igualdad
        laboral y no discriminación, para favorecer el desarrollo integral de
        las y los trabajadores.
      </p>
    </mdb-card-body>
  </mdb-card>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <mdb-card cascade="true" narrower="true" class="mb-2">
        <mdb-card-body cascade="true">
          <mdb-card-title>
            <h4 class="text-left">Norma Mexicana en Igualdad Laboral y No Discriminación</h4>
          </mdb-card-title>
          <video controls="" preload="">
            <source src="d/milnd/videos/video_igualdad.mp4" type="video/mp4">
            <source src="d/milnd/videos/video_igualdad.webm" type="video/webm"> Tu navegador no soporta HTML5 Video
          </video>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <mdb-card cascade="true" narrower="true" class="mb-2">
        <mdb-card-body cascade="true">
          <mdb-card-title>
            <h4 class="text-left">Política en Igualdad Laboral y No Discriminación</h4>
          </mdb-card-title>
          <video controls="" preload="">
            <source
              src="d/milnd/videos/Politica de Igualdad Laboral y no Discriminacion para la Administracion Publica.mp4"
              type="video/mp4"> Tu navegador no soporta HTML5 Video </video>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
      </mdb-card-title>
      <h6 class="text-left mt-3">Política</h6>
      <ul class="list-group text-left">
        <a href="d/milnd/Politica de Igualdad Laboral y No Discriminacion para la Administracion Publica del Estado de Guanajuato.pdf"
          rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            Política de Igualdad Laboral y No Discriminación para la Administración Pública del Estado de Guanajuato.
          </li>
        </a>
        <a href="d/milnd/Politica firmada.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Política firmada
          </li>
        </a>
        <a href="d/milnd/Politica Periodico Oficial.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            Política Periódico Oficial
          </li>
        </a>
      </ul>
      <h6 class="text-left mt-3">Comité para la Igualdad Laboral y No Discriminacion de la UPPE </h6>
      <ul class="list-group text-left"><a href="d/milnd/Integrantes-Fotos.pdf" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            a) Integrantes del Comité
          </li>
        </a>
        <a href="d/milnd/Lineamientos del Comite.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            b) Lineamientos del Comité
          </li>
        </a>
        <a href="d/milnd/Acta de Instalacion.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            c) Acta de Instalación
          </li>
        </a>
      </ul>
      <h6 class="text-left mt-3">Protocolo para Prevenir y Atender la Violencia Laboral, El Acoso y el Hostigamiento
        Sexual en la Administración Pública del Estado de Guanajuato</h6>
      <ul class="list-group text-left"><a href="d/milnd/PROTOCOLO-PAVLAHSGto.pdf" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            Consultar protocolo
          </li>
        </a></ul>
      <h6 class="text-left mt-3">Código de Ética</h6>
      <ul class="list-group text-left"><a href="d/milnd/CODIGO DE ETICA.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            Código de Ética
          </li>
        </a><a href="d/milnd/LEY_DE_RESP_ADMINIST_LOS_SERVID_P_B_DEL_EDO_DE_GTO_Y_SUS__MUNIC_UR_01jul2016.pdf"
          rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            Ley de responsabilidades administrativas de los servidores públicos del Estado de Guanajuato y sus
            Municipios
          </li>
        </a>
      </ul>
      <h6 class="text-left mt-3">Lenguaje Incluyente y No Sexista</h6>
      <ul class="list-group text-left"><a href="d/milnd/Manual_para_el_uso_no_sexista_del_lenguaje__2011.pdf"
          rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            a) 10 recomendaciones para el uso no sexista del lenguaje.
          </li>
        </a><a href="d/milnd/Diez_recomendaciones_para_el_uso_no_sexista_del_lenguaje__2009.pdf"
          rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            b) Manual para el uso no sexista del lenguaje
          </li>
        </a>
        <a href="d/milnd/06. Manual de comunicacion No sexista.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            c) Manual de Comunicación No Sexista
          </li>
        </a>
        <a href="d/milnd/Manual de Lenguaje incluyente.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            Manual de Lenguaje incluyente
          </li>
        </a>
        <a href="08. GuiaBasica-Uso_Lenguaje_INACCSS.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            GuiaBasica-Uso Lenguaje INACCSS
          </li>
        </a>
      </ul>
      <h6 class="text-left mt-3">Procedimiento Administración de Recursos Humanos</h6>
      <ul class="list-group text-left">
        <a href="d/milnd/Procedimiento.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            Consultar procedimiento
          </li>
        </a></ul>
      <h6 class="text-left mt-3">Procesos de Ascenso y Permanencia</h6>
      <ul class="list-group text-left">
        <a href="d/milnd/DECRETO DE CREACION UPPE.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            Decreto de Creación de la UPPE
          </li>
        </a>
        <a href="d/milnd/RIPPPA-UPPE.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            RIPPA
          </li>
        </a>
      </ul>
      <h6 class="text-left mt-3">Procesos de Formación, Capacitación y Adiestramiento</h6>
      <ul class="list-group text-left">
        <a href="d/milnd/PLAN  ANUAL DE CAPACITACION.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            Plan Anual de Capacitación
          </li>
        </a>
      </ul>
      <h6 class="text-left mt-3">Contacto</h6>
      <ul class="list-group text-left">
        <li class="list-group-item"> igualdad@uppenjamo.edu.mx </li>
      </ul>
    </mdb-card-body>
  </mdb-card>
</div>