<div class="container main-container">
    <mdb-card cascade="true" narrower="true" class="mb-2">
      <div class="view view-cascade portada-paginas gradient-card-header color-gradient-becas white-text">
        <h2 class="card-header-title text-center mb-3">Becas</h2>
        <p class="mb-0 text-center">Universidad Politécnica de Pénjamo</p>
      </div>
      <mdb-card-body cascade="true">
        <mdb-card-text class="text-justify">
            Este apartado integra todos los programas de becas de educación superior. Ahora es más fácil conocer los programas existentes y también los nuevos.
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  
    <mdb-card cascade="true" narrower="true" class="mb-2">
      <mdb-card-body cascade="true">
        <mdb-card-title>
          <h4 class="text-left">
            Sistema Único de Beneficiarios de Educación Superior (SUBES)
          </h4>
        </mdb-card-title>
        <mdb-card-text>
          <ul class="list-group text-left">
            <a href="https://www.subes.sep.gob.mx/" rel="noopener noreferrer" target="_blank">
              <li class="list-group-item">
                <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
                Más información
              </li>
            </a>
          </ul>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>

    <mdb-card cascade="true" narrower="true" class="mb-2">
        <mdb-card-body cascade="true">
          <mdb-card-title>
            <h4 class="text-left">
                Coordinación Nacional de Becas de Educación Superior (CNBES)
            </h4>
          </mdb-card-title>
          <mdb-card-text>
            <ul class="list-group text-left">
              <a href="https://www.becaseducacionsuperior.sep.gob.mx/" rel="noopener noreferrer" target="_blank">
                <li class="list-group-item">
                  <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
                  Más información
                </li>
              </a>
            </ul>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
  </div>