<div class="container main-container">
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <div class="view view-cascade portada-paginas gradient-card-header color-gradient-filosofia white-text">
      <h2 class="card-header-title text-center mb-3">Filosofía institucional</h2>
      <p class="mb-0 text-center">Universidad Politécnica de Pénjamo</p>
    </div>
    <mdb-card-body cascade="true">
      <mdb-card-title>
          <h4 class="text-left">Política de calidad</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Mediante una cultura de calidad, ambiental y equidad, somos una institución de educación superior comprometida
        con la formación integral de personas y su proyecto de vida así como el desarrollo social, económico,
        tecnológico de la región, a través de la generación, aplicación y transferencia del conocimiento, la cultura e
        investigación, en apego a la legislación aplicable, con una visión de mejora continua y sustentabilidad
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Misión</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Somos una institución educativa, formadora de personas íntegras, que consolidan un proyecto de vida, con
        sentido y compromiso social, capaces de influir en el crecimiento competitivo de la región.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Visión</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Ser un referente nacional con presencia internacional, reconocida por la excelencia de su gente, dirigiendo sus
        esfuerzos a la investigación, transferencia y aplicación del conocimiento, contribuyendo significativamente al
        desarrollo sustentable del bajio.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Valores</h4>
      </mdb-card-title>
      <ul class="list-group text-left">
        <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i> Lealtad </li>
        <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i> Responsabilidad </li>
        <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i> Superación </li>
        <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i> Compañerismo </li>
        <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i> Dignidad humana </li>
        <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i> Honestidad </li>
        <li class="list-group-item"><i aria-hidden="true" class="fa fa-circle list-icon"></i> Verdad </li>
      </ul>
    </mdb-card-body>
  </mdb-card>
</div>