<div class="container main-container">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <div class="view overlay waves-light imgbanner" mdbWavesEffect>
      <mdb-card-img src="./assets/img/carreras/bg_banner_ind.jpg"></mdb-card-img>
    </div>
    <mdb-card-body cascade="true" class="cardCarrera text-center">
      <mdb-card-title>
        <h4>
          <strong>Ingeniería Industrial</strong>
        </h4>
      </mdb-card-title>

      <h4 class="text-left">Objetivo</h4>

      <mdb-card-text class="text-justify">
        La Ingeniería Industrial implementa soluciones inteligentes a los problemas del ámbito productivo y de
        servicios por medio de la ciencia y la tecnología, optimizando productos y procesos, transformando las cadenas
        de abastecimiento en cadenas de valor.
      </mdb-card-text>

      <a class="btn-primary btn-rounded mt-3 btn btn-sm" href="d/escolares/mapa_curricular/mapa-curricular-ind.pdf"
        mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Mapa curricular 2010</strong>
      </a>
      <a class="btn-primary btn-rounded mt-3 btn btn-sm" href="d/escolares/mapa_curricular/mapa-curricular-ind-2018.pdf"
        mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Mapa curricular 2018</strong>
      </a>
      <a class="btn-danger btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-IND.pdf" mdbbtn=""
        mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Horario de clases</strong>
      </a>

    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Áreas de conocimiento</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        La Ingeniería Industrial implementa soluciones inteligentes a los problemas del ámbito productivo y de
        servicios por medio de la ciencia y la tecnología, optimizando productos y procesos, transformando las cadenas
        de abastecimiento en cadenas de valor.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Perfil de ingreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        El estudiante de nivel medio superior que aspire a ingresar al programa educativo de Ingeniería Industrial,
        debe dominar conceptos básicos de matemáticas superiores, física, química y computación, poseer una actitud de
        observación para investigar el cómo y el porqué de los fenímenos físicos, inquietud por la investigación, el
        desarrollo tecnológico, la innovación y la actualización continua, habilidad para desarrollar trabajo en
        equipo, creatividad y actitud para el cambio, así como una vocación profesional por la industria y sus procesos
        productivos.
        <ul class="list-group text-left">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Inquietud por la investigación, el desarrollo tecnológico y la innovación.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Habilidad para desarrollar trabajo en equipo, creatividad y actitud para el cambio.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Vocación profesional por la industria y sus procesos productivos.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Purificador y desionizador de agua.
          </li>
        </ul>
      </mdb-card-text>
      <mdb-card-title>
        <h4 class="text-left">Perfil de egreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        El Ingeniero Industrial será capaz de dirigir los procesos de mejora continua de la productividad, aprovechando
        su amplia visión global de la ingeniería, con un conocimiento profundo de lo que se tiene que hacer para
        optimizar los procesos productivos, contribuyendo al desarrollo local, regional y nacional, y tomando en cuenta
        el entorno productivo y el cuidado al medio ambiente, con las habilidades y competencias necesarias para
        encontrar la mejor alternativa de solución posible, que mejore el desempeño de un proceso productivo de
        cualquier tipo, tanto en la industria de la transformación, como en la industria de los servicios; con el apoyo
        de programas y herramientas de simulación y tecnologías de punta, a través de las siguientes funciones:
        <ul class="list-group text-left">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Producir con la más alta calidad.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Administrar los procesos productivos.
          </li>
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-circle list-icon"></i>
            Optimizar el uso de los recursos con que cuenta la empresa.
          </li>
        </ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>