<div class="container main-container">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <div class="view overlay waves-light imgbanner" mdbWavesEffect>
      <mdb-card-img src="./assets/img/carreras/bg_banner_ibt.jpg"></mdb-card-img>
    </div>
    <mdb-card-body cascade="true" class="cardCarrera text-center">
      <mdb-card-title>
        <h4>
          <strong>Ingeniería en Biotecnología</strong>
        </h4>
      </mdb-card-title>

      <h4 class="text-left">¿A que se dedica?</h4>

      <mdb-card-text class="text-justify">
        Es el profesionista que puede laborar en procesos industriales, en la actualidad es urgente optimizar las
        actividades que el hombre realiza para minimizar los efectos causados al ambiente, en áreas de investigación
        generando soluciones biotecnológicas a problemas actuales y enfrentan nuestras comunidades, el estado o el
        país. Asesorando en la implementación de sistemas de mejoras ambientales, diseño de procesos para la obtención
        de metabolitos útiles al hombre.
      </mdb-card-text>

      <a class="btn-primary btn-rounded mt-3 btn btn-sm" href="d/escolares/mapa_curricular/mapa-curricular-ibt.pdf"
        mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Mapa curricular</strong>
      </a>
      <a class="btn-danger btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-IBT.pdf" mdbbtn=""
        mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Horario de clases</strong>
      </a>

    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Misión</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Formar profesionales en el campo de la Biotecnología mediante un programa educativo basado en competencias, con
        una formación integral y emprendedora, capaces de proponer alternativas para resolver problemas actuales en
        procesos biotecnológicos de los sectores productivo, social y de investigación, empleando conocimientos
        científicos y tecnológicos, con un sentido de compromiso y responsabilidad con la sociedad y el medio ambiente.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Propósito del Programa</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Formar profesionistas líderes altamente competentes en la aplicación y gestión de procesos biotecnológicos que
        incluyan la propagación y escalamiento de organismos de interés industrial, así como el dominio de las técnicas
        analíticas para el control, evaluación y seguimiento de los procesos con una sólida formación en ingeniería y
        las ciencias de la vida, para apoyar la toma de decisiones en materia de Aplicación, control y diseño de
        procesos biotecnológicos industriales; además de ser profesionistas responsables con su ambiente y entorno
        productivo y social.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Perfil de egreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        <P>
          El aspirante a la carrera de Ingeniería en Biotecnología requiere un bachillerato terminado deseable en el
          área químico- biológicas, con conocimientos y habilidades en matemáticas, interés en el modelo educativo de
          la Universidad Politécnica de Pénjamo, disponibilidad para aprender y trabajar en equipo, contar con hábitos
          de estudio y gusto en el estudio de la ingeniería así como gusto por emprender e innovar, fomentar relaciones
          interpersonales.
        </P>
      </mdb-card-text>
      <mdb-card-title>
        <h4 class="text-left">Perfil de ingreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">

        <P>
          El ingeniero en biotecnología es un profesionista que responde a las necesidades actuales de competitividad
          global, será capaz de aplicar, innovar y diseñar procesos productivos basados en principios y técnicas de la
          investigación a nivel molecular y celular, para la producción de bienes y servicios. Tendrán interés y
          capacidad en actualizarse y laborar con responsabilidad social, respeto al ambiente y un amplio sentido
          ético.
        </P>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">¿Qué actividades fortalecen la enseñanza?</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Visitas industriales, prácticas laborales en empresas, proyectos aplicados por ejemplo disminuir la cantidad de
        residuos generados por la Universidad Politécnica de Pènjamo, transferencia de tecnología hacia la comunidad,
        proyectos de investigación, centro de idiomas para el dominio de Inglés, Francés y Alemán. Actividades
        culturales y deportivas que fortalecen el desarrollo personal.
      </mdb-card-text>
      <mdb-card-title>
        <h4 class="text-left">¿Cúal es el campo laboral?</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Tiene diferentes campos de acción por ejemplo si trabaja dentro de un proceso tradicional su función consistirá
        en implementar operaciones sustentables por ejemplo sustituir un insecticida que daña el ambiente po uno
        diseñado con elementos naturales como vegetales, o bien eliminar conservadores de los alimentos conservados,
        trabajar intensamente siguiendo las rutas marcadas por la naturaleza, si es en el aspecto innovador pues es
        responsable seleccionar, adaptar o desarrollar variedades genéticas para su convivencia con el ambiente
        evitando al máximo generar efectos secuandarios.
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

</div>