<div class="container main-container">
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <div class="view overlay waves-light imgbanner" mdbWavesEffect>
      <mdb-card-img src="./assets/img/carreras/bg_banner_ina.jpg"></mdb-card-img>
    </div>
    <mdb-card-body cascade="true" class="cardCarrera text-center">
      <mdb-card-title>
        <h4>
          <strong>Ingeniería Automotriz</strong>
        </h4>
      </mdb-card-title>

      <h4 class="text-left">Perfil de Ingreso del aspirante.</h4>

      <mdb-card-text class="text-justify">
        El aspirante a ingresar al programa de Ingeniería Automotriz, debe tener las siguientes habilidades y actitudes:
      </mdb-card-text>

      <ul class="list-group text-left">
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Capacidad de análisis y abstracción.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Responsable de su aprendizaje.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Disposición para el trabajo en equipo.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Preferentemente haber cursado el bachillerato en el área de ciencias físico-matemático.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Gusto por la investigación y el desarrollo tecnológico.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Interés por la mecánica, así como por el manejo de un segundo idioma.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Dedicación de tiempo completo para el estudio, así como disponibilidad de horario.
        </li>
      </ul>

      <a class="btn-primary btn-rounded mt-3 btn btn-sm" href="d/escolares/mapa_curricular/mapa-curricular-ina.pdf"
        mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Mapa curricular</strong>
      </a>
      <!-- <a class="btn-danger btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-IND.pdf" mdbbtn=""
        mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
        <strong>Horario de clases</strong>
      </a> -->

    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Perfil de egreso</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        El Ingeniero Automotriz posee conocimientos para:
      </mdb-card-text>


      <ul class="list-group text-left">
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Diseñar componentes mecánicos con el apoyo de software especializado.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Analizar, diseñar e implementar procesos de manufactura bajo normas y estándares de la industria automotriz
          para la elaboración de componentes mecánicos.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Integrar nuevas tecnologías para la optimización de sistemas automotrices.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Diseñar y administrar programas de mantenimiento automotriz.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Realizar actividades de desarrollo tecnológico.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Emprender estudios de posgrado
        </li>
      </ul>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Competencias y habilidades</h4>
      </mdb-card-title>

      <ul class="list-group text-left">
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Obtener características dimensionales y geométricas de elementos mecánicos con base en planos o su forma
          física para establecer el procedimiento de manufactura.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Precisar la forma, características y dimensionamiento de componentes mecánicos mediante la utilización de
          herramientas computacionales para establecer los planos de taller.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Proponer procesos de manufactura con base en especificaciones de componentes mecánicos, para establecer
          procedimientos de fabricación que cumplan con normas de calidad y seguridad.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Implementar procesos de manufactura de manera convencional y/o CNC que cumplan con las normas y estándares de
          la industria de la transformación.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Definir componentes mecánicos con base en los requerimientos de desempeño para su integración en sistemas
          mecánicos.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Simular sistemas de segundo orden por medio de herramientas computacionales para validar su comportamiento
          dinámico.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Proponer programas de mantenimiento automotriz mediante un enfoque tecnológico para hacer más eficientes las
          metodologías de mantenimiento automotriz.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Implementar programas de mantenimiento automotriz mediante metodologías establecidas en los automotores de
          acuerdo a sus características, para su integración en las rutinas de mantenimiento de la planta o taller.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Dirigir recursos humanos para ejecutar los planes de trabajo, mediante el logro de objetivos y metas
          incrementando el desempeño del personal.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Administrar recursos materiales y tecnológicos siguiendo las especificaciones de la industria automotriz, para
          la optimización y el buen manejo de los materiales.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Investigar nuevas tecnologías con base en sus características para determinar la viabilidad de aplicación e
          implementación.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          Proponer modificaciones en procesos productivos y/o sistemas automotrices basadas en nuevas tecnologías para
          mejorar el desempeño.
        </li>
      </ul>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Campo laboral</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Los egresados tendrán competencias para laborar en:
      </mdb-card-text>
      <ul class="list-group text-left">
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          El ingeniero automotriz puede desempeñarse en cualquier área relacionada con la industria automotriz, de
          maquinaria pesada, equipo agroindustrial y metal-mecánica.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          En investigación del producto, diseño y desarrollo.
        </li>
        <li class="list-group-item">
          <i aria-hidden="true" class="fa fa-circle list-icon"></i>
          En asesoría, servicio técnico especializado, mantenimiento y fabricación de piezas automotrices.
        </li>
      </ul>
    </mdb-card-body>
  </mdb-card>
</div>