<div class="container main-container">
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <div class="view view-cascade portada-paginas gradient-card-header color-gradient-equidadgenero white-text">
      <h2 class="card-header-title text-center mb-3">Modelo de Equidad de Género</h2>
      <p class="mb-0 text-center">Universidad Politécnica de Pénjamo</p>
    </div>
    <mdb-card-body cascade="true">
      <div class="row">
        <div class="col-md-3">
          <img alt="thumbnail" class="img-thumbnail" src="./assets/img/pages/meg.png" style="width: 150px">
        </div>
        <div class="col-md-9">
          <p class="card-text text-justify"> El Modelo de Equidad de Género (MEG) es un sistema de gestión con
            perspectiva de género, que proporciona herramientas a las empresas, las instituciones públicas y las
            organizaciones sociales para asumir un compromiso con la igualdad entre mujeres y hombres, pues les permite
            revisar sus políticas y prácticas internas, para reorganizar y definir mecanismos que incorporen la
            perspectiva de género e instrumenten acciones afirmativas y/o a favor del personal, que conduzcan a corto y
            mediano plazo al establecimiento de condiciones igualitarias para mujeres y hombres en los centros de
            trabajo. </p>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">Política de calidad</h4>
      </mdb-card-title>
      <mdb-card-text class="text-justify">
        Mediante una cultura de calidad, ambiental y equidad, somos una institución de educación superior comprometida
        con la formación integral de personas y su proyecto de vida así como el desarrollo social, económico,
        tecnológico de la región, a través de la generación, aplicación y transferencia del conocimiento, la cultura e
        investigación, en apego a la legislación aplicable, con una visión de mejora continua y sustentabilidad.
        <ul class="list-group text-left">
          <a href="d/meg/Guia de actuacion.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Consejo de ética
            </li>
          </a>
          <a href="http://www.sfa.guanajuato.gob.mx/pdf/condiciones_generales.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Condiciones generales de trabajo para trabajadores de Gobierno del Estado de Guanajuato
            </li>
          </a>
          <a href="d/rh/organigrama_uppe.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Organigrama
            </li>
          </a>
          <a href="d/meg/Politicas de Asistencia.pdf" rel="noopener noreferrer" target="_blank">
            <li class="list-group-item">
              <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              Politicas de Asistencia
            </li>
          </a></ul>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <mdb-card cascade="true" narrower="true" class="mb-2">
        <mdb-card-body cascade="true">
          <mdb-card-title>
            <h4 class="text-left">
              Comite de equidad de género
            </h4>
          </mdb-card-title>
          <ul class="list-group text-left"><a href="d/meg/Acta de Renovacion Comite MEG UPPE 2015.pdf" rel="noopener noreferrer"
              target="_blank">
              <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Acta de
                Renovación del Comité de Equidad de Género de la UPPE </li>
            </a><a href="d/meg/Integrantes del Comite de Equidad de Genero.pdf" rel="noopener noreferrer" target="_blank">
              <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Integrantes
                del Comité de Equidad de Género de la UPPE </li>
            </a></ul>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <mdb-card cascade="true" narrower="true" class="mb-2">
        <mdb-card-body cascade="true">
          <mdb-card-title>
            <h4 class="text-left">
              Indicadores con perspectiva de género
            </h4>
          </mdb-card-title>
          <ul class="list-group text-left">
            <a href="d/meg/DYA.pdf" rel="noopener noreferrer" target="_blank">
              <li class="list-group-item">
                <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> DYA 
              </li>
            </a>
            <a href="d/meg/MATR.pdf" rel="noopener noreferrer" target="_blank">
              <li class="list-group-item">
                <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> MATR 
              </li>
            </a>
          </ul>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
        <h4 class="text-left">
          Documentación del sistema de gestión del modelo de equidad de género
        </h4>
      </mdb-card-title>
      <h6 class="text-left mt-3">MANUAL DE EQUIDAD DE GÉNERO</h6>
      <ul class="list-group text-left">
        <a href="d/meg/MEG-MG-01 Manual de Equidad de Genero.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            a) MEG-MG-01 Manual de Equidad de Género
          </li>
        </a>
      </ul>
      <h6 class="text-left mt-3">PROCESOS MANDATORIOS DEL SGEG</h6>
      <ul class="list-group text-left">
        <a href="d/meg/SAD06-PO-01 Procedimiento Administracion de RH.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            a) MEG01-PG-01 Elaboración y Control de Documentos 
          </li>
        </a>
        <a href="d/meg/RIPPPA-UPPE.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> b) MEG01-PG-02
            Procedimiento para la Promoción y Ascenso del Personal 
          </li>
        </a>
        <a href="d/meg/MEG01-PG-05 Procedimiento Auditorias internas del SGEG.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> c) MEG01-PG-03
            Evaluación del Desempeño (Procedimiento en actualización) 
          </li>
        </a>
        <a href="d/meg/Modelo de Prevencion, Proteccion y Sancion de las Conductas de Acoso y Hostigamiento Sexual.pdf"
          rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> d) MEG01-PG-04
            Aplicación de la Defensa Organizacional de los Derechos Humanos 
          </li>
        </a>
        <a href="d/meg/MEG01-PG-05 Procedimiento Auditorias internas del SGEG.pdf" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> e) MEG01-PG-05
            Auditorias Internas del SGMEG 
          </li>
        </a>
      </ul>
      <h6 class="text-left mt-3">FORMATOS DE REGISTRO DEL SGMEG</h6>
      <ul class="list-group text-left">
        <a href="d/meg/MEG01-RG-01 Catalogo MEG.xlsx" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            a) MEG01-RG-01 Catálogo Modelo Equidad De Género
          </li>
        </a>
        <a href="d/meg/MEG01-RG-02 Cronograma de actividades del SGMEG.xlsx" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item">
            <i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
            b) MEG01-RG-02 Cronograma De Actividades </li>
        </a>
        <a href="d/meg/MEG01-RG-03 Objetivos del Sistema de Gestion de Equidad de Genero.doc" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            c) MEG01-RG-03 Objetivos del Sistema de Gestión de Equidad de Género 
          </li>
        </a>
        <a href="d/meg/MEG01-RG-04 Acciones afirmativas- Acciones en favor del personal.doc" rel="noopener noreferrer"
          target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            d) MEG01-RG-04 Acciones Afirmativas y Acciones a Favor del Personal 
          </li>
        </a>
        <a href="d/meg/MEG01-RG-05 Carpeta de Evidencias.docx" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            e) MEG01-RG-05 Carpeta de Evidencias 
          </li>
        </a>
        <a href="d/meg/MEG01-RG-06 Informe de revision al SGEG.doc" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            f) MEG01-RG-06 Informe de Revisión al SGMEG 
          </li>
        </a>
        <a href="d/meg/MEG01-RG-07 Accion de mejora del SGEG.doc" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            g) MEG01-RG-07 Accion de Mejora del SGMEG 
          </li>
        </a>
        <a href="d/meg/REC11-RG-14 Minuta de Reunion.doc" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            h) REC11-RG-14 Minuta de Reunión 
          </li>
        </a>
        <a href="d/meg/REC11-RG-17 Hoja de registro.doc" rel="noopener noreferrer" target="_blank">
          <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> 
            i) REC11-RG-17 Hoja de Registro de Actividades de Capacitación 
          </li>
        </a>
      </ul>
    </mdb-card-body>
  </mdb-card>
</div>