<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="https://www.youtube.com/watch?v=rJS4FgICe2Y" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Banner-Informe Anual 2018.jpg" />
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="http://www.pnpec.sep.gob.mx/" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/programas_calidad_banner.png" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="https://bit.ly/2NYL6Mb" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/FOBESIIC-01.png" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="https://www.gob.mx/cedulaprofesional" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/cedula_banner.jpg" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/Idiomas 2018_Frances Japones.jpg" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Idiomas 2018_Banner.jpg" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/CATEDRA VIRTUAL INNOVATIC 2.0- Info general 2018.pdf" rel="noopener noreferrer"
        target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/BANNER_INNOVATIC2-01.jpg" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/Promo CIEES Nvl 1-01.jpg" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Promo CIEES Nvl 1_Banner.jpg" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/GUIA DE APOYO PARA EL PAGO DE INSCRIPCION UPPE.pdf" rel="noopener noreferrer"
        target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Banner Nvo Pago-01.jpg" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
</mdb-carousel>