<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/Web 2019_Info.jpg" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Web 2019_Banner.jpg" />
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="http://www.ieeg.mx/parlamento-juvenil-2019/" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Parlamento Juvenil Guanajuatense 2019.jpg" />
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="https://ieeg.mx/documentos/convocatoria-y-formato-especialistas-externos-ce-2019-pdf/"
        rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/2DAConvocatoriaESPECIALISTAS.jpg" />
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="http://sices.guanajuato.gob.mx/convocatoria/22" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/3er Encuentro de Innovacion y Creatividad.jpg" />
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/convocatoria_corta_2019.pdf" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/eacuoso.jpg" />
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/Guia EXANI II 24a Edicion.pdf" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Banner_EXANI-II.png" />
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="https://www.youtube.com/watch?v=rJS4FgICe2Y" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Banner-Informe Anual 2018.jpg" />
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="http://www.pnpec.sep.gob.mx/" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/programas_calidad_banner.png" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="https://www.gob.mx/cedulaprofesional" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/cedula_banner.jpg" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/Idiomas_Cartel.jpg" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Idiomas_Banner.jpg" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/Promo CIEES Nvl 1-01.jpg" rel="noopener noreferrer" target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Promo CIEES Nvl 1_Banner.jpg" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <a href="./assets/img/slide/temp/GUIA DE APOYO PARA EL PAGO DE INSCRIPCION UPPE.pdf" rel="noopener noreferrer"
        target="_blank">
        <img class="d-block w-100" src="./assets/img/slide/Banner Nvo Pago-01.jpg" />
        <div class="mask rgba-teal-light waves-light" mdbWavesEffect></div>
      </a>
    </div>
  </mdb-carousel-item>
</mdb-carousel>