<div class="container main-container">
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <div class="view view-cascade portada-paginas gradient-card-header color-gradient-biblioteca white-text">
      <h2 class="card-header-title text-center mb-3">Biblioteca Digital</h2>
      <p class="mb-0 text-center">Biblioteca digital espacio común de la educación superior tecnológica.</p>
    </div>
    <mdb-card-body cascade="true">
      <mdb-card-text class="text-justify">
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>

  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <mdb-card cascade="true" narrower="true" class="mb-2">
        <mdb-card-body cascade="true">
          <mdb-card-title>
            <h4 class="text-left">
              Biblioteca Digital ECEST
            </h4>
          </mdb-card-title>
          <mdb-card-text>
            <ul class="list-group text-left">
              <h6 class="text-left mt-3">Solicitar acceso a biblioteca digital</h6>
              <li class="list-group-item"> biblioteca@uppenjamo.edu.mx </li>
              <h6 class="text-left mt-3">Si ya estas registrado, puedes acceder a la siguiente dirección:</h6><a
                href="http://www.bibliotecaecest.mx/" rel="noopener noreferrer" target="_blank">
                <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Acceder </li>
              </a>
            </ul>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <mdb-card cascade="true" narrower="true" class="mb-2">
        <mdb-card-body cascade="true">
          <mdb-card-title>
            <h4 class="text-left">
              Otros accesos
            </h4>
          </mdb-card-title>
          <mdb-card-text>
            <ul class="list-group text-left">
              <a href="http://quest.eb.com/" rel="noopener noreferrer" target="_blank">
                <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Image Quest
                </li>
              </a>
              <a href="http://moderna.eb.com/" rel="noopener noreferrer" target="_blank">
                <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Moderna </li>
              </a>
              <a href="http://academic.eb.com/" rel="noopener noreferrer" target="_blank">
                <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> Academic
                </li>
              </a>
              <a href="http://uroadrunner.uppenjamo.edu.mx/" rel="noopener noreferrer" target="_blank">
                <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i> U-Roadrunner
                  magazine
                </li>
              </a>
            </ul>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <mdb-card cascade="true" narrower="true" class="mb-2">
        <mdb-card-body cascade="true">
          <mdb-card-title>
            <h4 class="text-left">
              E-Books Universidad Politécnica de Pénjamo
            </h4>
          </mdb-card-title>
          <mdb-card-text>
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              <a href="d/ebooks/RESPONSABILIDAD SOCIAL Y DESARROLLO DE LAS ORGANIZACIONES.pdf" rel="noopener noreferrer"
                target="_blank">
                RESPONSABILIDAD SOCIAL Y DESARROLLO DE LAS ORGANIZACIONES
              </a>
            </li>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <mdb-card cascade="true" narrower="true" class="mb-2">
        <mdb-card-body cascade="true">
          <mdb-card-title>
            <h4 class="text-left">
              Biblioteca Digital EBSCOhost
            </h4>
          </mdb-card-title>
          <mdb-card-text>
            <li class="list-group-item"><i aria-hidden="true" class="fa fa-arrow-right list-icon"></i>
              <a href="http://search.ebscohost.com/" rel="noopener noreferrer" target="_blank">
                Consultar
              </a>
            </li>
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>