<div class="container main-container">
  <mdb-card cascade="true" narrower="true" class="mb-2">
    <div class="view view-cascade portada-paginas gradient-card-header color-gradient-normateca white-text">
      <h2 class="card-header-title text-center mb-3">Horarios por grupo</h2>
      <p class="mb-0 text-center">Universidad Politécnica de Pénjamo</p>
    </div>
  </mdb-card>

  <mdb-card cascade="true" narrower="true" class="mb-2">
    <mdb-card-body cascade="true">
      <mdb-card-title>
      </mdb-card-title>
      <div class="row">
        <div class="col-md-6">
          <h6 class="text-left mt-3">Licenciatura en Administración y Gestión de PyMES</h6>
          <ul class="list-group text-left">
            <li class="list-group-item">
              <a class="btn-info btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-LAG.pdf" mdbbtn=""
                mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
                <strong>Consultar</strong>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h6 class="text-right mt-3">Ingeniería Agroindustrial</h6>
          <ul class="list-group text-right">
            <li class="list-group-item">
              <a class="btn-info btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-IAG.pdf" mdbbtn=""
                mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
                <strong>Consultar</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h6 class="text-left mt-3">Ingeniería en Software</h6>
          <ul class="list-group text-left">
            <li class="list-group-item">
              <a class="btn-info btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-ISW.pdf" mdbbtn=""
                mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
                <strong>Consultar</strong>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h6 class="text-right mt-3">Ingeniería Industrial</h6>
          <ul class="list-group text-right">
            <li class="list-group-item">
              <a class="btn-info btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-IND.pdf" mdbbtn=""
                mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
                <strong>Consultar</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h6 class="text-left mt-3">Ingeniería en Biotecnología</h6>
          <ul class="list-group text-left">
            <li class="list-group-item"><a class="btn-info btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-IBT.pdf"
                mdbbtn="" mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
                <strong>Consultar</strong>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h6 class="text-right mt-3">Ingeniería en Logística y Transporte</h6>
          <ul class="list-group text-right">
            <li class="list-group-item">
              <a class="btn-info btn-rounded mt-3 btn btn-sm" href="d/escolares/horarios/SAC01-RG-04-ILT.pdf" mdbbtn=""
                mdbwaveseffect="" rel="noopener noreferrer" size="sm" target="_blank">
                <strong>Consultar</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>

</div>